.App {
  .App-header {
    display: flex;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: rgb(15, 5, 5);
  }
  .index-styling {
    background-color: red;
  }
  .css-qfz70r-MuiFormGroup-root {
    justify-content: space-evenly;
  }
  .css-1q1u3t4-MuiTableRow-root {
    .css-y8ay40-MuiTableCell-root {
      font-weight: 600;
    }
  }
  .checkbox-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
